::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: rgb(56, 161, 247);
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
